.map-article {
    overflow: visible !important;
}

.map-article #allMap {
    position: relative;
    overflow: visible !important;
}

.map-article .titleMap {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.2rem 0;
    line-height: 1.1rem;
}

.map-article #help {
  color: red;
  text-align: center;
  padding: .5rem 0;
  font-weight: bold;
}



.map-article .instructions {
    font-size: 1rem;
    border: .3px solid gray;
    padding: 2px 15px 2px 5px;
    margin-top: 0rem;
    margin-bottom: .5rem;
    line-height: 1.2rem;
    font-style: italic;
    text-align: left;
    text-justify: inter-word;
}

.map-article #searchOptions {
    line-height: 1.3;
    width: max-content;
}

.map-article #searchOptions label {
    display: inline;
    vertical-align: middle;
    font-size: .7rem!important;
    color: blue;
}


.map-article #searchOptions input[type="radio"] {
    margin: 0.1rem 0.2rem 0.1rem 0;
    vertical-align: middle;
}

.map-article #selectoptions {
    position: absolute;
    background: #FEF7DA;
    color: navy;
    padding: .8rem .5rem;
    z-index: 100;
    overflow-y: auto;
    width: 7rem;
    height: 45rem !important;
    line-height: 1.3;
}

[theme=dark] .map-article #selectoptions {
    color: white;
    background: black;
}

.map-article #dates{
    margin: 5px 0;
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.3;
}

/* Style for Network View */
.map-article #mynetwork {
    overflow: visible !important;
    z-index: 1;
    border: 1px solid gold;
    color: black;
    padding-left: 6rem;
    height: 45rem !important;
    min-height: 45rem !important;
}

[theme=dark] .map-article #mynetwork {
    color: white;
    background: #ffd70021 !important;
}

.map-article .footermap {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-top: .1rem;
    text-align: center;
}

.map-article #initialView {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: .7rem;
    padding: 0.3em .7em 0.4em .9em;
    color: black;
    /* background: #ad5389; */
    /* background: linear-gradient(0deg, rgb(20, 29, 167) 0%, rgb(118, 216, 255) 100%); */
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #1440a799;
    letter-spacing: 0.1em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}   